<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOST</key>
	<string>http://ticlemoa-env-1.eba-6qebrvxf.ap-northeast-2.elasticbeanstalk.com</string>
	<key>ADMIN_ACCESSTOKEN</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNjczMTcyNzQ3LCJleHAiOjE2NzMyNzI3NDcsInN1YiI6IkFDQ0VTU19UT0tFTiJ9.19D_eR5q_4NgDaIYEAQvA_coFDiLHBcxmbOdAafvi3w</string>
</dict>
</plist>
